@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #22212C;
    font-family: "Merriweather Sans", 'Times New Roman';
    display: flex;
    gap: 60px;
    margin-bottom: 16px;
}

h3 {
    font-size: 20px;
    color: #837E9F;
}

p, h4, h5, li {
    list-style: none;
    color: #837E9F
}

section {
    background-image: linear-gradient(90deg, #00FF00 0%, #FFFF00 50%, #C91842 100%);
    padding-top: 6px;
    border-radius: 17.6px;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin: 20px 0 0 20px
}

aside .profile-name div{
    display: flex;
    flex-direction: column;
    height: 291px;
    border-radius: 17.6px;
    justify-content: center;
    align-items: center;
    background-color: #302F3D;
}

aside .profile-name h3 {
    font-size: 23px;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

aside .profile-name p {
    font-size: 13px;
    padding-bottom: 16px;
}

aside .profile-name img {
    width: 120px;
    margin-top: 16px;
    border-radius: 50%;
    border: 4px solid #00FF00;
}

aside .profile div {
    display: flex;
    flex-direction: column;
    border-radius: 17.6px;
    height: 347px;
    font-size: 12px;
    width: 349px;
    background-color: #302F3D;
}

aside .profile ul {
    flex-direction: column;
    padding-left: .5rem;
    margin: 16px 0 16px 16px;
}

aside .profile li {
    padding: 8px;
}

aside .profile a {
    display: flex;
    color: #837e9f;
    gap: .8rem;
    align-items: center;
}

aside .profile img:hover {
    transform: scale(1.2);
}

aside .profile-tecnology div{
    border-radius: 17.6px;
    background-color: #302F3D;
    width: 349px;
    height: 208px;
}

aside .profile-tecnology h3 {
    padding-left: 16px;
    padding-top: 16px;
}

aside .profile-tecnology ul {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 8px 0 8px;
    justify-content: space-evenly;
}

aside .profile-tecnology li {
    width: 85px;
    height: 24px;
    border-radius: 17.6px;
    background-color: #CB92B1;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 16px;
}

aside .profile-experience div{
    background-color: #302F3D;
    border-radius: 17.6px;
    width: 349px;
    height: 347px;
}

aside .profile-experience h3 {
    padding: 16px 0 0 16px;
}

aside .profile-experience ul {
    margin-left: 40px;
}

aside .profile-experience li {
    list-style: disc;
    padding-top: 20px;
    font-size: 12px;
    line-height: 14.4px;
}

aside .profile-education div {
    background-color: #302F3D;
    border-radius: 17.6px;
    width: 349px;
    height: 352px;
}

aside .profile-education h3 {
    padding-left: 16px;
    padding-top: 16px;
}

aside .profile-education ul {
    margin-left: 40px;
}

aside .profile-education li {
    list-style: disc;
    padding-top: 20px;
    font-size: 12px;
    line-height: 14.4px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30.4px;
    margin-top: 20px;
}

.my-projects div {
    background-color: #302F3D;
    border-radius: 17.6px;
    height: 85px;
    /* width: 952px; */
}

.my-projects ul {
    display: flex;
    justify-content: space-between;
}

.my-projects ul li {
    padding: 30px 30px 30px 30px;
    font-weight: 700;
    line-height: 24px;
}

article {
    display: flex;
    gap: 30px;
}

.my-onix div img {
    height: 24px;
    margin: 16px 16px 0 16px;
}

.my-onix span {
    position: absolute;
    padding-top: 20px;
    font-weight: 700;
}

.my-onix div {
    color: #837E9F;
    background-color: #302F3D;
    border-radius: 17.6px;
    height: 176px;
    width: 460px;
    font-weight: 700;
}

.my-onix div p {
    font-size: 14px;
    margin: 16px 0 16px 16px;
}

.my-onix div ul {
    display: flex;
}

.my-onix div li {
    display: flex;
}

.my-onix div li p {
    margin-left: 0;
}

.my-onix div li:last-child {
    padding-left: 128px;
}

.recent-posts div {
    background-color: #302F3D;
    border-radius: 17.6px;
    height: 85px;
    padding: 29px 0 0 29px;
    font-weight: 700;

}

.case div {
    display: flex;
    background-color: #302F3D;
    border-radius: 17.6px;
}

.case div div {
    flex-direction: column;
    margin: 30px 0 0 20px;
}

.case p {
    font-size: 14px;
    line-height: 18px;
}

.case h4 {
    font-size: 18px;
    margin-bottom: 13px;
}

.case h5 {
    font-size: 16px;
    line-height: 20px;
    margin: 28px 0 13px 0;
}

.case img {
    width: 128px;
    border-radius: 50%;
    margin: 30px 0 42px 29px;
}

.case ul {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.profile-name div:hover,
.profile div:hover,
.profile-tecnology div:hover,
.profile-experience div:hover,
.profile-education div:hover,
.my-projects div:hover,
.my-onix:hover,
.recent-posts div:hover,
.case:hover  {
    border-left: 6px solid #00FF00;
    transition-delay: .1s;
}